<!-- Menu Section Start -->
<header id="home">
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <a
              href="https://www.linkedin.com/in/cristian-jaimes-6a93a022a/"
              target="_blank"
            >
              Linkedin
            </a>
          </div>
        </div>

        <div class="col-sm-9">
          <div class="navigation-menu">
            <div class="navbar">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                >
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="smoth-scroll" href="#"
                      >Inicio
                      <div class="ripple-wrapper"></div
                    ></a>
                  </li>
                  <li>
                    <a class="smoth-scroll" href="about">Acerca de mí</a>
                  </li>
                  <li>
                    <a class="smoth-scroll" href="portfolio">Portafolio</a>
                  </li>
                  <li>
                    <a class="smoth-scroll" href="testimonials">Referencias</a>
                  </li>
                  <li>
                    <a class="smoth-scroll" href="services">Servicios</a>
                  </li>
                  <!-- <li>
                    <a class="smoth-scroll" href="contact">Contacto</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
