<app-header />

<app-whatsapp />

<section id="about" class="about section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Acerca de mí</h2>
          <div class="divider dark">
            <i class="icon-emotsmile"></i>
          </div>
          <p>
            "Apasionado por la tecnología y el desarrollo web, siempre en busca
            de nuevos retos para aplicar mis habilidades y crear soluciones
            innovadoras."
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="about-me-text margin-top-50">
          <p>
            <strong>Estudiante de Ingeniería de Sistemas</strong> con
            experiencia en desarrollo de software y generación de código.
            Apasionado por aprovechar al máximo los recursos en línea para
            convertirme en un desarrollador capaz de diseñar soluciones
            sofisticadas y eficientes para problemas complejos y robustos.
            <br /><br />
            <strong>Experiencia en:</strong>
            - Desarrollo de aplicaciones web y móviles. - Habilidades sólidas en
            lenguajes de programación como <strong>JavaScript, TypeScript</strong> y
            frameworks como <strong>Express, Angular, Vue, React</strong>. - Desarrollo de
            aplicaciones en la nube utilizando servicios de
            <strong>AWS</strong> y <strong>Google Cloud</strong>. <br /><br />
            Me considero un <strong>aprendiz constante</strong>, siempre en
            busca de actualizarme con las últimas tecnologías y tendencias en el
            desarrollo de software. Mi objetivo es seguir creciendo
            profesionalmente, aportando soluciones innovadoras y de alta calidad
            en cada proyecto en el que participe.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about-me-text pattern-bg margin-top-50 margin-bottom-50">
          <div class="text-center">
            <a
              class="button button-style button-style-dark button-style-color-2"
              data-toggle="modal"
              data-target="#subscribemodal"
              href="#"
              >Subscribete</a
            >
          </div>
        </div>

        <div class="about-me-text">
          <ul class="social-icon">
            <ul class="social-icon margin-bottom-30">
              <li>
                <a
                  href="https://www.linkedin.com/in/cristian-jaimes-6a93a022a/"
                  target="_blank"
                  class="linkedin"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                  >
                    <path
                      fill="#0288D1"
                      d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"
                    ></path>
                    <path
                      fill="#FFF"
                      d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/Crist28"
                  target="_blank"
                  class="github"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                  >
                    <path
                      fill="#fff"
                      d="M41,24c0,9.4-7.6,17-17,17S7,33.4,7,24S14.6,7,24,7S41,14.6,41,24z"
                    ></path>
                    <path
                      fill="#455a64"
                      d="M21 41v-5.5c0-.3.2-.5.5-.5s.5.2.5.5V41h2v-6.5c0-.3.2-.5.5-.5s.5.2.5.5V41h2v-5.5c0-.3.2-.5.5-.5s.5.2.5.5V41h1.8c.2-.3.2-.6.2-1.1V36c0-2.2-1.9-5.2-4.3-5.2h-2.5c-2.3 0-4.3 3.1-4.3 5.2v3.9c0 .4.1.8.2 1.1L21 41 21 41zM40.1 26.4C40.1 26.4 40.1 26.4 40.1 26.4c0 0-1.3-.4-2.4-.4 0 0-.1 0-.1 0-1.1 0-2.9.3-2.9.3-.1 0-.1 0-.1-.1 0-.1 0-.1.1-.1.1 0 2-.3 3.1-.3 1.1 0 2.4.4 2.5.4.1 0 .1.1.1.2C40.2 26.3 40.2 26.4 40.1 26.4zM39.8 27.2C39.8 27.2 39.8 27.2 39.8 27.2c0 0-1.4-.4-2.6-.4-.9 0-3 .2-3.1.2-.1 0-.1 0-.1-.1 0-.1 0-.1.1-.1.1 0 2.2-.2 3.1-.2 1.3 0 2.6.4 2.6.4.1 0 .1.1.1.2C39.9 27.1 39.9 27.2 39.8 27.2zM7.8 26.4c-.1 0-.1 0-.1-.1 0-.1 0-.1.1-.2.8-.2 2.4-.5 3.3-.5.8 0 3.5.2 3.6.2.1 0 .1.1.1.1 0 .1-.1.1-.1.1 0 0-2.7-.2-3.5-.2C10.1 26 8.6 26.2 7.8 26.4 7.8 26.4 7.8 26.4 7.8 26.4zM8.2 27.9c0 0-.1 0-.1-.1 0-.1 0-.1 0-.2.1 0 1.4-.8 2.9-1 1.3-.2 4 .1 4.2.1.1 0 .1.1.1.1 0 .1-.1.1-.1.1 0 0 0 0 0 0 0 0-2.8-.3-4.1-.1C9.6 27.1 8.2 27.9 8.2 27.9 8.2 27.9 8.2 27.9 8.2 27.9z"
                    ></path>
                    <path
                      fill="#455a64"
                      d="M14.2,23.5c0-4.4,4.6-8.5,10.3-8.5c5.7,0,10.3,4,10.3,8.5S31.5,31,24.5,31S14.2,27.9,14.2,23.5z"
                    ></path>
                    <path
                      fill="#455a64"
                      d="M28.6 16.3c0 0 1.7-2.3 4.8-2.3 1.2 1.2.4 4.8 0 5.8L28.6 16.3zM20.4 16.3c0 0-1.7-2.3-4.8-2.3-1.2 1.2-.4 4.8 0 5.8L20.4 16.3zM20.1 35.9c0 0-2.3 0-2.8 0-1.2 0-2.3-.5-2.8-1.5-.6-1.1-1.1-2.3-2.6-3.3-.3-.2-.1-.4.4-.4.5.1 1.4.2 2.1 1.1.7.9 1.5 2 2.8 2 1.3 0 2.7 0 3.5-.9L20.1 35.9z"
                    ></path>
                    <path
                      fill="#00bcd4"
                      d="M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M24,40c-8.8,0-16-7.2-16-16S15.2,8,24,8 s16,7.2,16,16S32.8,40,24,40z"
                    ></path>
                  </svg>
                </a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Subscribe Modal Start -->
<div
  class="modal fade subscribe padding-top-120"
  id="subscribemodal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title margin-top-30">
              <button type="button" class="btn pull-right" data-dismiss="modal">
                <i class="fa fa-close"></i>
              </button>
              <h2>Suscribete.</h2>
              <div class="divider dark">
                <i class="icon-envelope-letter"></i>
              </div>
              <p>Suscribete a mí canal de youtube.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-2 col-xs-offset-0 col-md-8 col-sm-8">
            <div class="margin-bottom-50">
              <div id="mc-form" method="post">
                <a
                  href="https://www.youtube.com/channel/UCR-rB1tsukkk4YsqzZ4p0Zg"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="red"
                    class="bi bi-youtube"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe Modal End -->
<!-- About End -->

<app-footer />
