<app-header />

<app-whatsapp />

<!-- Portfolio Start -->
<section id="portfolio" class="portfolio section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Mí Portafolio.</h2>
          <div class="divider dark">
            <i class="icon-picture"></i>
          </div>
          <p>
            "Explorando el mundo del desarrollo web a través de mi portafolio,
            donde muestro mi pasión por la creación de sitios web y aplicaciones
            con un enfoque en la usabilidad y la experiencia del usuario."
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <ul class="portfolio">
          <li class="filter" data-filter="all">Todos</li>
          <li class="filter" data-filter=".panelcocinas">Panel Cocinas</li>
          <li class="filter" data-filter=".cocinas">Tienda Cocinas</li>
          <li class="filter" data-filter=".panelcelulares">Panel Celulares</li>
          <li class="filter" data-filter=".celulares">Tienda celulares</li>
          <li class="filter" data-filter=".zapatos">Tienda zapatos</li>
          <li class="filter" data-filter=".cafeteria">Tienda Cafeteria</li>
          <li class="filter" data-filter=".notas2">Notas Avanzado</li>
          <li class="filter" data-filter=".notas1">Notas Basico</li>
          <li class="filter" data-filter=".monedas">Api CriptoMoneda</li>
          <li class="filter" data-filter=".pokemons">Api Pokemons</li>
          <li class="filter" data-filter=".calculadorap">Calculadora Precios</li>
          <li class="filter" data-filter=".cajero">Cajero</li>
          <li class="filter" data-filter=".pinterest">Clon Pinterest</li>
          <li class="filter" data-filter=".google">Clon Google</li>
          <li class="filter" data-filter=".rail">Rail</li>
          <li class="filter" data-filter=".cesar">Encrip Cesar</li>
          <li class="filter" data-filter=".base64">Encrip Dase64</li>
          <li class="filter" data-filter=".alura">Encrip Alura</li>
          <li class="filter" data-filter=".tareas">tareas</li>
        </ul>
      </div>

      <div class="col-md-10">
        <div class="portfolio-inner margin-top-30">

          <div class="col-md-4 col-sm-6 col-xs-12 mix panelcocinas wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/9.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/9.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix cocinas wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/8.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/8.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix panelcelulares wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/7.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/7.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix celulares wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/6.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/6.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix zapatos wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/5.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/5.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix cafeteria wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/4.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/4.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix notas2 wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/3.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/3.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix notas1 wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/2.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/2.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/1.jpeg"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/1.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix pokemons wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/Buscarpokemon2.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/Buscarpokemon2.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix calculadorap wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/calculadoraprecios.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/calculadoraprecios.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix cajero wordpress">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/Cajero1.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/Cajero1.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/Clonpinteres.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/Clonpinteres.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix google apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/ClonGoogle.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/ClonGoogle.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix rail apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/Captura desde 2024-01-07 12-10-24.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/Captura desde 2024-01-07 12-10-24.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix cesar apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/Captura desde 2024-01-07 12-09-46.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/Captura desde 2024-01-07 12-09-46.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix base64 apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/Captura desde 2024-01-07 12-07-56.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/Captura desde 2024-01-07 12-07-56.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix alura apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/EncriptadorAlura.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/EncriptadorAlura.png" alt="" />
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 mix tareas apps">
            <div class="item">
              <a
                href="../../../assets/images/proyectos/proyecto-tareas.png"
                class="portfolio-popup"
                title="Project Title"
              >
                <img src="../../../assets/images/proyectos/proyecto-tareas.png" alt="" />
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="text-center margin-top-50">
    <a
      class="button button-style button-style-dark button-style-color-2 smoth-scroll"
      href="contact"
      >Contactame</a
    >
  </div>
</section>
<!-- Portfolio End -->

<app-footer />
