<app-header />

<app-whatsapp />

<!-- Portfolio Start -->
<section id="portfolio" class="portfolio section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Mi Portafolio</h2>
          <div class="divider dark">
            <i class="icon-picture"></i>
          </div>
          <p>
            "Explorando el mundo del desarrollo web a través de mi portafolio,
            donde muestro mi pasión por la creación de sitios web y aplicaciones
            con un enfoque en la usabilidad y la experiencia del usuario."
          </p>
        </div>
      </div>
    </div>

    <!-- Pestañas de navegación -->
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs portfolio-tabs">
          <li class="active">
            <a href="#trabajos-codigo" data-toggle="tab">Trabajos en Código</a>
          </li>
          <li>
            <a href="#trabajos-wordpress" data-toggle="tab"
              >Trabajos en WordPress</a
            >
          </li>
          <li>
            <a href="#estudios-proyectos" data-toggle="tab"
              >Estudios y Proyectos</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Contenido de las pestañas -->
    <div class="tab-content">
      <!-- Pestaña 1: Trabajos en Código -->
      <div class="tab-pane active" id="trabajos-codigo">
        <div class="row">
          <div class="col-md-12">
            <div class="portfolio-inner margin-top-30">
              <!-- Proyectos en código -->
              <!-- Albatross -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/2.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/2.png"
                      alt="Albatross Finance"
                    />
                  </a>
                </div>
                <div class="image-title">Albatross Finance - Online</div>
                <div class="image-title">
                  Frameworks = Frontend: React | Backend: .Net
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/1.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/1.png"
                      alt="My Virtual Trainer"
                    />
                  </a>
                </div>
                <div class="image-title">My Virtual Trainer</div>
                <div class="image-title">
                  Frameworks = Frontend: Vue | Backend: Vue
                </div>
              </div>
              <!-- Libreria -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/8.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/8.png"
                      alt="Libreria"
                    />
                  </a>
                </div>
                <div class="image-title">Libreria - Pagina Principal</div>
                <div class="image-title">
                  Frameworks = Frontend: Angular | Backend: Express
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/7.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/7.png"
                      alt="Libreria"
                    />
                  </a>
                </div>
                <div class="image-title">
                  Libreria - Panel del Administrador
                </div>
                <div class="image-title">
                  Frameworks = Frontend: Angular | Backend: Express
                </div>
              </div>
              <!-- Rodney Home -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/3.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/3.png"
                      alt="KitchenFix Pro"
                    />
                  </a>
                </div>
                <div class="image-title">KitchenFix Pro</div>
                <div class="image-title">
                  Frameworks = Frontend: Angular | Backend: Express
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/9.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/9.png"
                      alt="KitchenFix Pro"
                    />
                  </a>
                </div>
                <div class="image-title">
                  KitchenFix Pro - Panel del Administrador
                </div>
                <div class="image-title">
                  Frameworks = Frontend: Angular | Backend: Express
                </div>
              </div>
              <!-- Tarjeta de presentacion Lorena -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/4.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/4.png"
                      alt="Tarjeta de presentacion"
                    />
                  </a>
                </div>
                <div class="image-title">Tarjeta de presentacion</div>
                <div class="image-title">Frameworks = Frontend: Angular</div>
              </div>
              <!-- Pagina Lorena -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/5.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/5.png"
                      alt="Pagina belleza"
                    />
                  </a>
                </div>
                <div class="image-title">Pagina belleza</div>
                <div class="image-title">
                  Frameworks = Frontend: Angular | Backend: Express
                </div>
              </div>
              <!-- TecnoApp -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix pinterest apps">
                <div class="item">
                  <a
                    href="../../../assets/images/tec/6.png"
                    class="portfolio-popup"
                  >
                    <img
                      src="../../../assets/images/tec/6.png"
                      alt="TecnoApp"
                    />
                  </a>
                </div>
                <div class="image-title">TecnoApp</div>
                <div class="image-title">
                  Frameworks = Frontend: Angular | Backend: Express
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pestaña 2: Trabajos en WordPress -->
      <div class="tab-pane" id="trabajos-wordpress">
        <div class="row">
          <div class="col-md-12">
            <div class="portfolio-inner margin-top-30">
              <!-- Proyectos en WordPress -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix cocinas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/tew/10.png"
                    class="portfolio-popup"
                    title="Lechoneria LePork"
                  >
                    <img
                      src="../../../assets/images/tew/10.png"
                      alt="Lechoneria LePork"
                    />
                  </a>
                </div>
                <div class="image-title">Lecheneria LePork</div>
                <div class="image-title">CMS = GoDaddy - WordPress</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix cocinas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/tew/11.png"
                    class="portfolio-popup"
                    title="Zay"
                  >
                    <img src="../../../assets/images/tew/11.png" alt="Zay" />
                  </a>
                </div>
                <div class="image-title">Zapateria Zay</div>
                <div class="image-title">CMS = GoDaddy - WordPress</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix cocinas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/tew/12.png"
                    class="portfolio-popup"
                    title="Cafeteria"
                  >
                    <img
                      src="../../../assets/images/tew/12.png"
                      alt="Cafeteria"
                    />
                  </a>
                </div>
                <div class="image-title">Cafeteria</div>
                <div class="image-title">CMS = GoDaddy - WordPress</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pestaña 3: Estudios y Proyectos -->
      <div class="tab-pane" id="estudios-proyectos">
        <div class="row">
          <div class="col-md-12">
            <div class="portfolio-inner margin-top-30">
              <!-- Proyectos de estudios -->
              <div class="col-md-4 col-sm-6 col-xs-12 mix notas1 wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/13.png"
                    class="portfolio-popup"
                    title="Pagina Celulares"
                  >
                    <img
                      src="../../../assets/images/ep/13.png"
                      alt="Pagina Celulares"
                    />
                  </a>
                </div>
                <div class="image-title">Pagina Principal - Celulares</div>
                <div class="image-title">Frameworks = Express - React</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/14.png"
                    class="portfolio-popup"
                    title="Panel Pagina Celulares"
                  >
                    <img
                      src="../../../assets/images/ep/14.png"
                      alt="Panel Pagina Celulares"
                    />
                  </a>
                </div>
                <div class="image-title">Panel Administrador - Celulares</div>
                <div class="image-title">Frameworks = Express - React</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/15.png"
                    class="portfolio-popup"
                    title="Aplicacion de Notas"
                  >
                    <img
                      src="../../../assets/images/ep/15.png"
                      alt="Aplicacion de Notas"
                    />
                  </a>
                </div>
                <div class="image-title">Aplicacion de Notas</div>
                <div class="image-title">Frameworks = Express - React</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/20.png"
                    class="portfolio-popup"
                    title="Administrador de Proyectos"
                  >
                    <img
                      src="../../../assets/images/ep/20.png"
                      alt="Administrador de Proyectos"
                    />
                  </a>
                </div>
                <div class="image-title">Administrador de Proyectos</div>
                <div class="image-title">Frameworks = Express/Libreria Pug</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/18.png"
                    class="portfolio-popup"
                    title="Api Clima"
                  >
                    <img
                      src="../../../assets/images/ep/18.png"
                      alt="Api Clima"
                    />
                  </a>
                </div>
                <div class="image-title">API Clima</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/16.png"
                    class="portfolio-popup"
                    title="Api Cryptomonedas"
                  >
                    <img
                      src="../../../assets/images/ep/16.png"
                      alt="Api Cryptomonedas"
                    />
                  </a>
                </div>
                <div class="image-title">API Cryptomonedas</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/17.png"
                    class="portfolio-popup"
                    title="Api Pokemon"
                  >
                    <img
                      src="../../../assets/images/ep/17.png"
                      alt="Api Pokemon"
                    />
                  </a>
                </div>
                <div class="image-title">API Pokemon</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/24.png"
                    class="portfolio-popup"
                    title="Encriptador Alura"
                  >
                    <img
                      src="../../../assets/images/ep/24.png"
                      alt="Encriptador Alura"
                    />
                  </a>
                </div>
                <div class="image-title">Encriptar y Desencriptar en Alura</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/22.png"
                    class="portfolio-popup"
                    title="Cifrador Cesar"
                  >
                    <img
                      src="../../../assets/images/ep/22.png"
                      alt="Cifrador Cesar"
                    />
                  </a>
                </div>
                <div class="image-title">Cifrador Cesar</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/23.png"
                    class="portfolio-popup"
                    title="Cifrador Rail Fance"
                  >
                    <img
                      src="../../../assets/images/ep/23.png"
                      alt="Cifrador Rail Fance"
                    />
                  </a>
                </div>
                <div class="image-title">Cifrador Rail Fance</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/21.png"
                    class="portfolio-popup"
                    title="Encriptador base64"
                  >
                    <img
                      src="../../../assets/images/ep/21.png"
                      alt="Encriptador base64"
                    />
                  </a>
                </div>
                <div class="image-title">
                  Encriptar y Desencriptar en Data64
                </div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/19.png"
                    class="portfolio-popup"
                    title="Calculadora"
                  >
                    <img
                      src="../../../assets/images/ep/19.png"
                      alt="Calculadora de Precios"
                    />
                  </a>
                </div>
                <div class="image-title">Calculadora Precios</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/27.png"
                    class="portfolio-popup"
                    title="Cajero Automatico"
                  >
                    <img
                      src="../../../assets/images/ep/27.png"
                      alt="Cajero Automatico"
                    />
                  </a>
                </div>
                <div class="image-title">Cajero Automatico</div>
                <div class="image-title">
                  Lenguajes = JavaScript - Css3 - Html5
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/25.png"
                    class="portfolio-popup"
                    title="Clon Google"
                  >
                    <img
                      src="../../../assets/images/ep/25.png"
                      alt="Clon Google"
                    />
                  </a>
                </div>
                <div class="image-title">Clon Google</div>
                <div class="image-title">Lenguajes = Css3 - Html5</div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 mix monedas wordpress">
                <div class="item">
                  <a
                    href="../../../assets/images/ep/26.png"
                    class="portfolio-popup"
                    title="Clon Pinterest"
                  >
                    <img
                      src="../../../assets/images/ep/26.png"
                      alt="Clon Pinterest"
                    />
                  </a>
                </div>
                <div class="image-title">Clon Pinterest</div>
                <div class="image-title">Lenguajes = Css3 - Html5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio End -->

<app-footer />
