<app-header />

<app-whatsapp />

<!-- Testimonial Start -->
<section id="testimonials" class="testimonial-section section-space-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Referencias.</h2>
          <div class="divider dark">
            <i class="icon-speech"></i>
          </div>
          <p>Referencias de: Un compañero, un familiar y un amigo.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
        <div class="testimonial-carousel-list margin-top-20">
          <div class="testimonial-word text-center">
            <img
              src="https://i.pinimg.com/564x/1d/2f/e3/1d2fe3994c91467f416b8540ead6d46b.jpg"
              class="img-responsive"
              alt=""
            />
            <h2>Felipe Gonzalez</h2>
            <p>
              Como compañero de trabajo, puedo testificar que Cristian Jaimes
              fue un empleado excepcional y un talentoso desarrollador web. Su
              dedicación, habilidades técnicas y capacidad para resolver
              problemas hicieron una diferencia significativa en nuestros
              proyectos. Fue un verdadero placer trabajar con él y siempre
              estuvo dispuesto a ayudar y colaborar con el equipo. Sin duda,
              recomendaría a Cristian Jaimes como un gran profesional en el
              campo del desarrollo web.
            </p>
          </div>

          <div class="testimonial-word text-center">
            <img
              src="https://i.pinimg.com/564x/43/e6/4e/43e64eae17f1727e73e8bb11d831c894.jpg"
              class="img-responsive"
              alt=""
            />
            <h2>Luisa Jaimes</h2>
            <p>
              Como familiar cercano, puedo dar fe de que Cristian Jaimes es
              una persona maravillosa. Su actitud positiva, empatía y
              disposición para ayudar a los demás son cualidades admirables.
              Siempre muestra un genuino interés por el bienestar de quienes lo
              rodean y es un apoyo incondicional en momentos difíciles.
              Cristian Jaimes tiene una gran ética de trabajo y se esfuerza
              por alcanzar sus metas con perseverancia y determinación. Es
              alguien en quien confiar plenamente y su carácter amable y
              amigable lo convierte en un verdadero placer tenerlo como parte de
              nuestra familia.
            </p>
          </div>

          <div class="testimonial-word text-center">
            <img
              src="https://i.pinimg.com/564x/18/59/2d/18592d83c2acb68971fe4ecadfc8dd4b.jpg"
              class="img-responsive"
              alt=""
            />
            <h2>Alejandro Perez</h2>
            <p>
              Como amigo cercano, puedo decir con total confianza que [Cristian
              Jaimes] es una persona increíble. Su carisma y sentido del humor
              hacen que cada momento sea memorable y divertido. Es alguien en
              quien puedes confiar en cualquier situación, siempre dispuesto a
              brindar apoyo y escuchar sin juzgar. Cristian Jaimes es
              generoso, compasivo y genuinamente se preocupa por el bienestar de
              sus amigos. Su sinceridad y lealtad son cualidades que admiro
              profundamente. En resumen, [Cristian Jaimes] es una persona
              excepcional y estoy agradecido por tenerlo como amigo en mi vida.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial End -->

<app-footer />
